nav{
    background-color: aqua ;
    padding: 30px;
}
a{
    background-color: beige;
    border: 1px solid red;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 2px 15px 2px 15px;
    margin-left: 30px;
}
body{
    text-align: center;
}







