nav{
    background-color: aqua ;
    padding: 30px;
}
a{
    background-color: beige;
    border: 1px solid red;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 2px 10px 2px 10px;
}
body{
    text-align: center;
}
.canvas{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    margin: 10px;
}
#grey{
    background-color: grey;
}
#white{
    background-color: white;
}
#blue{
    background-color: blue;
}
#yellow{
    background-color: yellow;
}